Repository muhandojeon/Misleading-Phrases, changes with the labels that .github/labeler.yml gives for each.
All labels: 1장, 2장, 3장, 4장

Update README.md
  README.md
Labels: none

1장
  1장/전호영.md
Labels: 1장

1장 한상호
  1장/한상호.md
Labels: 1장

1장 황동준
  1장/황동준.md
Labels: 1장

1장 최호
  1장/최호.md
Labels: 1장

Create 최서희.md
  1장/최서희.md
Labels: 1장

Create 공예영.md
  1장/공예영.md
Labels: 1장

Update 최서희.md
  1장/최서희.md
Labels: 1장

Update 최서희.md
  1장/최서희.md
Labels: 1장

2장
  2장/전호영.md
Labels: 2장

2장 한상호
  2장/한상호.md
Labels: 2장

1장 한상호 (#2)
  1장/한상호.md
Labels: 1장

1장 최호 (#4)
  1장/최호.md
Labels: 1장

[최서희] 1장 : 책상 앞, 새벽 (#5)
  1장/최서희.md
Labels: 1장

2장 최호
  2장/최호.md
Labels: 2장

2장 황동준
  2장/황동준.md
Labels: 2장

Create 최서희
  2장/최서희
Labels: 2장

Rename 최서희 to 최서희.md
  2장/최서희.md
Labels: 2장

Update 최서희.md
  2장/최서희.md
Labels: 2장

Update 최서희.md
  2장/최서희.md
Labels: 2장

2장 최호 (#9)
  2장/최호.md
Labels: 2장

2장 (#7)
  2장/전호영.md
Labels: 2장

3장 한상호
  3장/한상호.md
Labels: 3장

3장
  3장/.idea/.gitignore
  3장/.idea/3장.iml
  3장/.idea/modules.xml
  3장/.idea/vcs.xml
  3장/전호영.md
Labels: 3장

2장 공예영.md
  2장/공예영.md
Labels: 2장

3장 황동준
  3장/황동준.md
Labels: 3장

3장 공예영.md
  3장/공예영.md
Labels: 3장

3장 최호
  3장/최호.md
Labels: 3장

Create 최서희.md
  3장/최서희.md
Labels: 3장

Update content in 최서희.md
  3장/최서희.md
Labels: 3장

Create 최서희.md
  4장/최서희.md
Labels: 4장

4장
  3장/.idea/workspace.xml
  4장/전호영.md
Labels: 4장

4장 최호
  4장/최호.md
Labels: 4장

4장 한상호
  4장/한상호.md
Labels: 4장

1장 (#1)
  1장/전호영.md
Labels: 1장

1장 황동준 (#3)
  1장/황동준.md
Labels: 1장

Create 공예영.md (#6)
  1장/공예영.md
Labels: 1장

2장 황동준 (#10)
  2장/황동준.md
Labels: 2장

2장 한상호 (#8)
  2장/한상호.md
Labels: 2장

[최서희] 2장 : 아침 공원 산책 (#11)
  2장/최서희.md
Labels: 2장

.github/labeler.yml:

1장:
  - 1장/*
2장:
  - 2장/*
3장:
  - 3장/*
4장:
  - 4장/*
