Repository muhandojeon/Misleading-Phrases, changes with the labels that .github/labeler.yml gives for each.
All labels: 1장, 2장, 3장, 4장

3장 한상호 (#12)
  3장/한상호.md
Labels: 3장

3장 (#13)
  3장/.idea/.gitignore
  3장/.idea/3장.iml
  3장/.idea/modules.xml
  3장/.idea/vcs.xml
  3장/전호영.md
Labels: 3장

3장 황동준 (#14)
  3장/황동준.md
Labels: 3장

[공예영] 2,3장: 한낮의 거실 (#15)
  2장/공예영.md
  3장/공예영.md
Labels: 2장, 3장

3장 최호 (#16)
  3장/최호.md
Labels: 3장

[최서희] 3장 : 한낮의 거실 (#17)
  3장/최서희.md
Labels: 3장

Create 최서희.md (#18)
  4장/최서희.md
Labels: 4장

4장 (#19)
  3장/.idea/workspace.xml
  4장/전호영.md
Labels: 4장

4장 최호 (#20)
  4장/최호.md
Labels: 4장

4장 한상호 (#21)
  4장/한상호.md
Labels: 4장

.github/labeler.yml:

1장:
  - 1장/*
2장:
  - 2장/*
3장:
  - 3장/*
4장:
  - 4장/*
